body {
	background-color: whitesmoke;
	}
.divPageBody {
	display: none;
	width: 70%;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
.divHappyOutline {
	border: 1px solid silver;
	padding: 5px;
	min-height: 400px;
	background-color: white;
	}
.divPageTitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 12px;
	}
.divPageDescription {
	font-family: "Ubuntu";
	font-size: 18px;
	margin-bottom: 25px;
	}
